/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url("components/cards.css");
@import url("components/buttons.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  margin: 0;
}

p { margin: 0; font-weight: 300; }

a { text-decoration: none; }


/* Custom design below! */
h2 {
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

#main {
  padding: 0 20px;
}

#banner {
  height: 55vh;
  width: 100%;
  background: url('/images/background.png') center center no-repeat;
  background-size: cover;
}

.inner-banner {
  max-width: 960px;
  width: 100%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  color: #fff;
  flex-direction: column;
  justify-content: center;
}

#banner h1 {
  margin-bottom: 20px;
  font-size: 45px;
  max-width: 560px;
  line-height: 1.1;
}

#banner p {
  margin-bottom: 20px;
  font-size: 30px;
  max-width: 560px;
  line-height: 1.4;
}


.contant-section {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 0;
}

#footer {
  width: inherit;
  height: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
}

#footer ul {
  text-align: center;
}

#footer li {
  list-style: none;
  display: inline-block
}

#footer i {
  font-size: 32px;
  margin: 0 5px;
}
